ul {
    list-style:none;
    margin:0;
    padding:0;
}
#top-message {
    position:absolute;
    width: 100%;
    height: 50px;
    display: none;
    background-color: black;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    opacity:0.60; -moz-opacity: 0.60;
    khtml-opacity: .60;
}
#top-message .text {
    color:white;
    font-size: 28px;
    margin: 0 auto;
    padding-top: 6px;
    text-align:center;
}
#email-user-box{
    float:right;
/*    display:none; */
    background-color: #c2e072;
    border: 3px solid #2c6429;
    padding: 0 10px 10px 10px;
    margin: 10px 10px 0 0;
}

#email-user-box a {
    color: green;
}

#email-user-box a.none {
    color: #333;
}

#email-list{
    background-color: #EEE;
    font-family: Helvetica, FreeSans;
    font-size: 18px;
    color: #2c6429;
    width:700px;
    float:right;
    margin: 83px 0 0 0;
    clear:both;
    text-align:center;
}

#email-list .messages {
    text-align:left
    font-size: 14px;
    margin: 0 auto;
    padding: 0 0 10px 0;
}

#email-list a {
    color: green;
}

#email-list a.none {
    color: #333;
}

#email-list .messages li {
    text-align:left;
    font-size: 12px;
    padding-left:2em;
    font-weight:bold;
}
#email-list li.dark {
    background-color: #d1eccf;
}